<h2>New ASL Interpretation</h2>
<%= csrf_tag %>
<form method="POST" action="">
  <label>YouTube URL:
    <input type="text" name="youtube_url">
  </label>
  <br/>
  <label>Optional description/notes:
    <textarea name="description"></textarea>
  </label>
  <br/>
  <button type="submit">Submit</button>
</form>
